<div id="movie" class="content-movie">
      <div class="content-movie__heading">
          <span>Latest Movie</span>
          <a href="#">View All</a>
      </div>
      <div class="content-movie__body">
          <div class="content-movie__wrapper">
              <div class="grid__row">
                  <div class="grid__column-2-4">
                      <div class="content-movie__item" style="background-image: url('https://image.lag.vn/upload/news/20/12/08/live-action-rurouni-kenshin-final-chapter-lich-cong-chieu-2_UAWQ.jpg');">
                          <div class="content-movie__item-left">
                              <ul>
                                  <li class="movie-item__name"><a [routerLink]="['/Streamit/play-movie']">Rurouni Kenshine</a></li>
                                  <li class="movie-item__age-s">
                                      <div>13+</div>
                                      <span>Session 2</span>
                                  </li>
                                  <li>
                                      <button class="cus-btn item-btn" (click)="playNow()">PLAY NOW</button>
                                  </li>
                              </ul>
                          </div>
                          <div class="content-movie__item-right">
                              <ul>
                                  <li><div><a href="#"><i class="fas fa-share-alt"></i></a></div></li>
                                  <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                                  <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="grid__column-2-4">
                      <div class="content-movie__item" style="background-image: url('https://image.lag.vn/upload/news/20/12/08/live-action-rurouni-kenshin-final-chapter-lich-cong-chieu-2_UAWQ.jpg');">
                          <div class="content-movie__item-left">
                              <ul>
                                  <li class="movie-item__name"><a [routerLink]="['/Streamit/play-movie']">Call of Duty</a></li>
                                  <li class="movie-item__age-s">
                                      <div>13+</div>
                                      <span>Session 2</span>
                                  </li>
                                  <li>
                                      <button class="cus-btn item-btn" (click)="playNow()">PLAY NOW</button>
                                  </li>
                              </ul>
                          </div>
                          <div class="content-movie__item-right">
                              <ul>
                                    <li><div><a href="#"><i class="fas fa-share-alt"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="grid__column-2-4">
                      <div class="content-movie__item" style="background-image: url('https://vcdn-giaitri.vnecdn.net/2020/12/11/Screenshot-359-1-7544-1607653111.png');">
                          <div class="content-movie__item-left">
                              <ul>
                                  <li class="movie-item__name"><a [routerLink]="['/Streamit/play-movie']">Loki</a></li>
                                  <li class="movie-item__age-s">
                                      <div>13+</div>
                                      <span>Session 2</span>
                                  </li>
                                  <li>
                                      <button class="cus-btn item-btn" (click)="playNow()">PLAY NOW</button>
                                  </li>
                              </ul>
                          </div>
                          <div class="content-movie__item-right">
                              <ul>
                                    <li><div><a href="#"><i class="fas fa-share-alt"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="grid__column-2-4">
                      <div class="content-movie__item" style="background-image: url('https://media.vov.vn/sites/default/files/styles/large/public/2020-09/1599708679.997f2985603e63cf326c0b0c53ae3011.jpg');">
                          <div class="content-movie__item-left">
                              <ul>
                                  <li class="movie-item__name"><a [routerLink]="['/Streamit/play-movie']">The Walking Dead</a></li>
                                  <li class="movie-item__age-s">
                                      <div>18+</div>
                                      <span>Session 2</span>
                                  </li>
                                  <li>
                                      <button class="cus-btn item-btn" (click)="playNow()">PLAY NOW</button>
                                  </li>
                              </ul>
                          </div>
                          <div class="content-movie__item-right">
                              <ul>
                                    <li><div><a href="#"><i class="fas fa-share-alt"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="grid__column-2-4">
                      <div class="content-movie__item" style="background-image: url('https://cdn.mos.cms.futurecdn.net/hBnAKidjLXGjkEateNqvJh.jpg');">
                          <div class="content-movie__item-left">
                              <ul>
                                  <li class="movie-item__name"><a [routerLink]="['/Streamit/play-movie']">Game of Thrones</a></li>
                                  <li class="movie-item__age-s">
                                      <div>13+</div>
                                      <span>Session 2</span>
                                  </li>
                                  <li>
                                      <button class="cus-btn item-btn" (click)="playNow()">PLAY NOW</button>
                                  </li>
                              </ul>
                          </div>
                          <div class="content-movie__item-right">
                              <ul>
                                    <li><div><a href="#"><i class="fas fa-share-alt"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="grid__column-2-4">
                      <div class="content-movie__item" style="background-image: url('https://kenh14cdn.com/thumb_w/660/203336854389633024/2021/6/14/800-500-1-16236575492391829227682.jpg');">
                          <div class="content-movie__item-left">
                              <ul>
                                  <li class="movie-item__name"><a [routerLink]="['/Streamit/play-movie']">LUPIN</a></li>
                                  <li class="movie-item__age-s">
                                      <div>13+</div>
                                      <span>Session 2</span>
                                  </li>
                                  <li>
                                      <button class="cus-btn item-btn" (click)="playNow()">PLAY NOW</button>
                                  </li>
                              </ul>
                          </div>
                          <div class="content-movie__item-right">
                              <ul>
                                    <li><div><a href="#"><i class="fas fa-share-alt"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="grid__column-2-4">
                      <div class="content-movie__item" style="background-image: url('https://genk.mediacdn.vn/139269124445442048/2020/12/11/mjfrnwreao3dchwffqlr3d-16076763546641599148237.jpg');">
                          <div class="content-movie__item-left">
                              <ul>
                                  <li class="movie-item__name"><a [routerLink]="['/Streamit/play-movie']">Wanda Vision</a></li>
                                  <li class="movie-item__age-s">
                                      <div>13+</div>
                                      <span>Session 2</span>
                                  </li>
                                  <li>
                                      <button class="cus-btn item-btn" (click)="playNow()">PLAY NOW</button>
                                  </li>
                              </ul>
                          </div>
                          <div class="content-movie__item-right">
                              <ul>
                                    <li><div><a href="#"><i class="fas fa-share-alt"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="grid__column-2-4">
                      <div class="content-movie__item" style="background-image: url('https://cdn.zenquiz.net/external/2019/07/06/09/9706f0b0-9fcc-11e9-a85f-050901070303-compressed.jpg');">
                          <div class="content-movie__item-left">
                              <ul>
                                  <li class="movie-item__name"><a [routerLink]="['/Streamit/play-movie']">We bare bears</a></li>
                                  <li class="movie-item__age-s">
                                      <div>6+</div>
                                      <span>Session 2</span>
                                  </li>
                                  <li>
                                      <button class="cus-btn item-btn" (click)="playNow()">PLAY NOW</button>
                                  </li>
                              </ul>
                          </div>
                          <div class="content-movie__item-right">
                              <ul>
                                    <li><div><a href="#"><i class="fas fa-share-alt"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                                    <li><div><a href="#"><i class="fas fa-heart"></i></a></div></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
