<div id="banner" class="banner">
      <div id="gridDown">
          <div class="banner__container" id="bannerDown">
              <div class="slide">
                  <div class="slideshow-container">
                      <div class="mySlides">
                          <img class="banner_img fade"
                              src="https://www.comingsoon.net/assets/uploads/2019/01/John-Wick-Chapter-3-e1547839759729-1280x720.jpg">
                          <div class="grid">
                              <div class="banner__text">
                                  <h1 class="banner__movie--name">John Wich (Chapter 3)</h1>
                                  <div class="banner__move--FI">
                                      <ul class="banner__movie-rate">
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                      </ul>
                                      <h3 class="movie--format">2K .Bluray</h3>
                                      <h3 class="movie--imDb movie--format imDb">IMDb 7.5</h3>
                                  </div>
                                  <h2 class="banner__movie--introduce">
                                      Sau khi trở thành "giải thưởng lớn" của giới sát thủ toàn cầu, siêu sát thủ John Wick phải cùng chú chó cưng lên đường chạy trốn. Với giá 14 triệu $, John Wick trở thành mục tiêu béo bở của bất cứ kẻ săn đầu người nào.
                                  </h2>
                                  <ul class="banner__movie-tags">
                                      <li><span>Starrings :</span>Karen Gilchrist, James Earl Jones</li>
                                      <li><span>Genres :</span>Action</li>
                                      <li><span>Tags :</span>Actions, Adventure, Honnor</li>
                                  </ul>
                                  <div class="banner__play">
                                      <button (click)="playMovie()" class="cus-btn">PLAY NOW</button>
                                      <a [routerLink]="['/Streamit/play-movie']" routerLinkActive="router-link-active">More Details</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="mySlides">
                          <img class="banner_img fade"
                              src="https://static.lag.vn/upload/news/20/05/28/1_QGLI.jpg?w=800&encoder=wic&subsampling=444">
                          <div class="grid">
                              <div class="banner__text">
                                  <h1 class="banner__movie--name">Rurouni Kenshin: The Begin</h1>
                                  <div class="banner__move--FI">
                                      <ul class="banner__movie-rate">
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                      </ul>
                                      <h3 class="movie--format">1080</h3>
                                      <h3 class="movie--imDb movie--format imDb">IMDb 7.5</h3>
                                  </div>
                                  <h2 class="banner__movie--introduce">
                                      Sau khi trở thành "giải thưởng lớn" của giới sát thủ toàn cầu, siêu sát thủ John Wick phải cùng chú chó cưng lên đường chạy trốn. Với giá 14 triệu $, John Wick trở thành mục tiêu béo bở của bất cứ kẻ săn đầu người nào.
                                  </h2>
                                  <ul class="banner__movie-tags">
                                      <li><span>Starrings :</span>Karen Gilchrist, James Earl Jones</li>
                                      <li><span>Genres :</span>Action</li>
                                      <li><span>Tags :</span>Actions, Adventure, Honnor</li>
                                  </ul>
                                  <div class="banner__play">
                                      <button (click)="playMovie()" class="cus-btn">PLAY NOW</button>
                                      <a [routerLink]="['/Streamit/play-movie']" routerLinkActive="router-link-active">More Details</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="mySlides">
                          <img class="banner_img fade"
                              src="https://assets1.ignimgs.com/2021/05/12/loki-poster-2-1620828778337_160w.jpg?width=1280">
                          <div class="grid">
                              <div class="banner__text">
                                  <h1 class="banner__movie--name">LOKI</h1>
                                  <div class="banner__move--FI">
                                      <ul class="banner__movie-rate">
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                      </ul>
                                      <h3 class="movie--format">720 .Bluray</h3>
                                      <h3 class="movie--imDb movie--format imDb">IMDb 8.5</h3>
                                  </div>
                                  <h2 class="banner__movie--introduce">
                                      Sau khi trở thành "giải thưởng lớn" của giới sát thủ toàn cầu, siêu sát thủ John Wick phải cùng chú chó cưng lên đường chạy trốn. Với giá 14 triệu $, John Wick trở thành mục tiêu béo bở của bất cứ kẻ săn đầu người nào.
                                  </h2>
                                  <ul class="banner__movie-tags">
                                      <li><span>Starrings :</span>Karen Gilchrist, James Earl Jones</li>
                                      <li><span>Genres :</span>Action</li>
                                      <li><span>Tags :</span>Actions, Adventure, Honnor</li>
                                  </ul>
                                  <div class="banner__play">
                                      <button (click)="playMovie()" class="cus-btn">PLAY NOW</button>
                                      <a [routerLink]="['/Streamit/play-movie']" routerLinkActive="router-link-active">More Details</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  <div class="dot-list" style="text-align:center">
                      <span class="dot" onclick="currentSlide(1)"></span>
                      <span class="dot" onclick="currentSlide(2)"></span>
                      <span class="dot" onclick="currentSlide(3)"></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
