<div class="footer" id="about">
      <div class="grid grid-footer">
          <span>About us</span>
          <div class="footer-body">
              <div class="footer-about">
                  <ul>
                      <li><a href="movie.html">Terms Of Use</a></li>
                      <li><a href="#">Privacy-Policy</a></li>
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">Watch List</a></li>
                  </ul>
                  <div>
                      © 2021 STREAMIT. All Rights Reserved. All videos and shows on this platform are trademarks of, and all related images and content are the property of, Streamit Inc. Duplication and copy of this is strictly prohibited. All rights reserved.
                  </div>
              </div>
              <div class="footer-follows">
                  <p>Follow Us</p>
                  <ul>
                      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="fab fa-github"></i></a></li>
                  </ul>
              </div>
              <div class="footer-app">
                  <p>Streamit Aapp</p>
                  <div>
                      <a href="#">
                          <img src="./assets/img/01.jpg" alt="">
                      </a>
                      <a href="#">
                          <img src="./assets/img/02.jpg" alt="">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
